body{
    background:white;
    font-family:cambria;
    margin:0;
}

.header{
    background:black;
    color:white;
    padding:30px;
    margin:20px;
}

.btn{
    background:orange;
    border:none;
    padding:8px 15px;
    margin-top:10px;
}

.about{
    margin:20px;
}

.container{
    display:flex;
    gap:20px;
    margin:20px;
}

.interests{
    background:#6c6cf0;
    color:white;
    padding:20px;
    width:200px;
    border-radius:10px;
}

.projects{
    background:#ff7a1a;
    padding:20px;
    width:400px;
    border-radius:10px;
}

.footer{
    background:black;
    color:white;
    padding:20px;
    margin:20px;
}
